/*
    Author : Charlie
*/

/*------------------- FONT ---------------------*/

@font-face {
    font-family: "OpenSans-Light";
    src: url('OpenSans-Light.ttf');
}

/*------------- MOBILE FIRST METHOD ------------*/

body    {
    background-color: #2C3338;
    font-size: 12px;
    margin: 0;
    font-family: "OpenSans-Light";
}

.a_flex    {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

#logo_align    {
    text-align: center;
}

#logo   {
    width: 6em;
    cursor: pointer;
}

.h_flex    {
    display: flex;
    justify-content: center;
    width: 100%;
}

h1  {
    color: white;

    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.8em;
}

h2  {
    color: white;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.8em;
}

#instruction  {
  color: #757975;
  font-weight: normal;
  margin-top: 0.3em;
  margin-bottom: 1em;
  font-size: 1.5em;
  width: 225px;
  text-align: center;
}

#error_message {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 1em;
    font-weight: normal;
    font-size: 1.3em;
    color: #ff4a4a;
}

/*
    _____________________________________________________
    ------------------ INPUT EMAIL ----------------------

*/
#email_flex    {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

#email {
    width: 290px;
    padding: 0.80em;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #3B4148;
    color: white;
    font-size: 1.3em;
}

#email:focus   {
    outline: none;
}

#email:hover   {
    background-color: #40474b;

}
/*

/*
    _____________________________________________________
    ------------------- INPUT SUBMIT --------------------

*/
#submit_flex    {
    display: flex;
    justify-content: center;
}

/* send button */
#submitButton    {
    cursor: pointer;
    width: 290px;
    padding: 0.80em;
    box-sizing: border-box;
    background-color: #2ebc3b;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1.3em;
}

#submitButton:focus   {
    outline: none;
}

#submitButton:hover   {
    background-color: #4fbc59;
}

.connect_flex    {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

/*

    _____________________________________________________
    ----------------- Subscribe question ---------------

*/
.connect_question    {
    color: #757975;
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 0;
}
/*
    ______________________________________________________
    ------------------------ Subscribe -----------------

*/
.connect    {
    color: white;
    text-decoration: none;
}
