/*
    Author     : Charlie
*/
@font-face {
  font-family: "OpenSans-Light";
  src: url('OpenSans-Light.ttf');
}

body  {
  font-size: 12px;
  font-family: "OpenSans-Light";
  margin: 0;
}

#logo {
  width: 5.5em;
  cursor: pointer;
}

#logo_flex  {
  margin-top: 1em;
  margin-left: 0.75em;
  margin-right: 1em;
  margin-bottom: 0.50em;
}

#h_flex {
  margin-right: 2.5em;
}

h1  {
  font-size: 2.5em;
  font-weight: normal;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

h2  {
  margin: 0;
  color: white;
  text-align: center;
}

p  {
  margin: 0;
}

#header-navbar {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #2C3338;
}
/*---------------------------------*/



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2C3338;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #c5c5c5;
    display: block;
    transition: 0.3s

}

.sidenav a:hover{
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


#create {
  background-color: black;
  margin-top: 250px;
}



/*-----------------------------------*/

a {
  text-decoration: none;
}

/*--------- icon menu animated --------*/

#container_menu {
    cursor: pointer;
}

.barOne, .barTwo, .barThree {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .barOne {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .barTwo {
    opacity: 0;
}

/* Rotate last bar */
.change .barThree {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/*---------------------------------*/
