/*
    Author : Charlie
*/

/*------------------- FONT ---------------------*/

@font-face {
    font-family: "OpenSans-Light";
    src: url('OpenSans-Light.ttf');
}

/*------------- MOBILE FIRST METHOD ------------*/

body    {
    background-color: #2C3338;
    font-size: 12px;
    margin: 0;
}

#err    {
    font-size: 2em;
    text-align: center;
    color: crimson;
    font-family: "OpenSans-Light";
    border: 1px solid red;
}

.a_flex    {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.subscribe_flex    {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

#logo_align    {
    text-align: center;
}

#logo   {
    width: 6em;
    cursor: pointer;
}

.h_flex    {
    display: flex;
    justify-content: center;
    width: 100%;
}

h1  {
    color: white;
    font-family: "OpenSans-Light";
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.8em;
}

h2  {
    color: white;
    font-family: "OpenSans-Light";
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.8em;
}

form   {
    margin-top: 1em;
}
#error_message  {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1em;
  font-family: OpenSans-Light;
  font-weight: normal;
  font-size: 1.3em;
  color: #ff4a4a;
}

/*
    _____________________________________________________
    ------------------ INPUT EMAIL ----------------------

*/
#email_flex    {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

#email {
    width: 290px;
    padding: 0.80em;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #3B4148;
    color: white;
    font-size: 1.3em;
    font-family: "OpenSans-Light";
}

#email:focus   {
    outline: none;
}

#email:hover   {
    background-color: #40474b;

}
/*
    _____________________________________________________
    ---------------- INPUT PASSWORD ---------------------

*/
#password_flex    {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

#password  {
    width: 290px;
    padding: 0.80em;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #3B4148;
    color: white;
    font-size: 1.3em;
    font-family: "OpenSans-Light";
}

#password:focus   {
    outline: none;
}

#password:hover   {
    background-color: #40474b;

}
/*
    _____________________________________________________
    ------------------- INPUT SUBMIT --------------------

*/
#submit_flex    {
    display: flex;
    justify-content: center;
}

#submit    {
    cursor: pointer;
    width: 290px;
    padding: 0.80em;
    box-sizing: border-box;
    background-color: #2ebc3b;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1.3em;
    font-family: "OpenSans-Light";
}

#submit:focus   {
    outline: none;
}

#submit:hover   {
    background-color: #4fbc59;
}
/*
    _____________________________________________________
    ---------------  Forgot password --------------

*/
.find_password    {
    color: white;
    font-family: "OpenSans-Light";
    font-size: 1.3em;
    text-decoration: none;

 }
/*
    _____________________________________________________
    ----------------- Subscribe question ---------------

*/
.subscribe_question    {
    color: #757975;
    font-family: "OpenSans-Light";
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 0;
}
/*
    ______________________________________________________
    ------------------------ Subscribe -----------------

*/
.subscribe    {
    color: white;
    font-family: "OpenSans-Light";
    text-decoration: none;
}

/*------------------------*/

#loader_flex  {
  justify-content: center;
  display: flex;
  margin-bottom: 1.5em;
}

#loader {
    border: 10px solid white;
    border-radius: 50%;
    border-top: 10px solid #2ebc3b;
    width: 30px;
    height: 30px;
    display: none;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
